@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00AFEF;
$colorGreen: #0f6567;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


._docs {
width: 100%;
    position: relative;
    ._docs__flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        ._d_item {
            width: 50%;
            position: relative;
            padding: 16px;
            img {
/*                border-radius: 6px;
                border: 3px solid #ff8f27;*/
            }
            ._d_doc_text {
                padding: 10px 0 ;
                position: relative;
                bottom: 0;
                font-size: 14px !important;
                line-height: 1.3em !important;
                color: #000;
            }
        }
    }
}
@media (max-width: 767px) {

    ._docs {

        ._docs__flex {
            display: block;
            width: 100%;

            ._d_item {
                width: 100%;
                position: relative;
                padding: 16px 0;

                img {

                }

                ._d_doc_text {

                    font-size: 14px !important;
                    line-height: 1.2em !important;
                }
            }
        }
    }
}
