@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #00AFEF;
$colorGreen: #0f6567;
$colorOrange: #ff8f27;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.block {
    max-width: 1140px;
    margin: auto;
    position: relative;
}
.populated {
    padding: 10px;
}
.flex {
    display: flex
}

.footer-middle {
    .menu {
        .menu-item {
            a {
                display: block;
                line-height: 1.4em;
            }
        }

    }
}

.menu-item-has-children {
    ul.sub-menu {
        width: 250px !important;
    }
}

.witr_section_title {
    width: 100%;
}

.ob_video {
    padding: 20px 0 10px 0;
}

.ellipsis_500 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
    width: 100%;
}

.ellipsis_600 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
    width: 100%;
}

.item_image {
    width: 100%;
    img {
        border-radius: 8px;
    }
}

.desc {

    h1,h2,h3,h4,h5{
        b,strong{
         color: $colorOrange
        }
    }

    p {
        line-height: 1.4em;
        padding: 9px 0;
        font-style: normal;
        margin: 0;
    }

    h1 {
        line-height: 1.1em;
        padding: 13px 0;
        font-style: normal;
        font-size: 40px !important;
        color: #000;
        text-transform: none;
        margin: 0;

    }

    h2 {
        line-height: 1.1em;
        padding: 13px 0;
        font-style: normal;
        font-size: 34px !important;
        text-transform: none;
        margin: 0;
    }

     h3 {
        line-height: 1.1em;
        padding: 9px 0;
        font-style: normal;
        font-size: 30px !important;
        color: #000;
         text-transform: none;
         margin: 0;
    }

   h4 {
        line-height: 1.1em;
        padding: 8px 0;
        font-style: normal;
        font-size: 26px !important;
       text-transform: none;
       margin: 0;
    }

  iframe, embed {
        box-sizing: border-box;
        border: 8px solid #EF533F;
        border-radius: 24px;
        margin: 16px 0;
    }

    ul, ol {
        padding: 10px 10px 10px 6px;
        list-style-type: none;
    }

   ul li:before {
        content: '';
        display: inline-block;
        border-radius: 10px;
        width: 8px;
        height: 8px;
        position: absolute;
        background: #cbdaed;
        left: -4px;
        top: 12px;
    }

   ul li {
        padding: 5px 5px 5px 25px;
        font-size: 16px;
        position: relative;
        line-height: 1.4em;
    }

   ol {
        padding-left: 15px
    }

  ol li {
        padding: 5px 5px 5px 5px;
        font-size: 16px;
        position: relative;
        line-height: 1.4em;
        list-style-type: decimal;
    }
}

.background_F8F8F8 {
    background-color: #F8F8F8 !important;
}
.background_F9F9F9  {
    background-color: #F9F9F9 !important;
}

table.table {
    th {
        font-size: 18px;
        color: #282828;
        font-weight: 600;
        vertical-align: middle !important;
        text-transform: none;
        line-height: 1.4em;
        .center {
            text-align: center;
            width: 100%;
            display: inline-table;
        }

    }
    td {
        line-height: 1.4em;
    }
}

.table-responsive {
    table.table {
        p {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

.techite_no_before:before {
    z-index: -999 !important;
}


.table-primary {
    td {
        font-size: 18px;
        color: #282828;
        font-weight: 600;
        vertical-align: middle !important;
        text-transform: none;
        line-height: 1.4em;
    }
}


.witr_btn_style_right {
    display: flex;
    justify-content: end;
    padding: 20px 0;
    a {
        font-size: 21px;
        padding: 8px 30px;
    }
}

.em_single_testimonial {
width: 100%;
    .em_testi_text {
        width: 100%;
        padding-bottom: 24px;
    }

    .em_test_thumb {
        img {
            min-width: 73px;
            height: 73px;
        }
    }
    .em_testi_title span {
  font-weight: 400;
        text-transform: none;
    }
}

@media (min-width: 200px) and (max-width: 991px) {
    .top-right-menu {
        padding-top: 10px;
    }
    .menu-item-has-children ul.sub-menu {
        width: 100% !important;
        a {
            text-transform: none !important;
        }
    }
}

/**
PWA
 */
.box-icon {
    .circle {
        top: -67px !important;
        left: -54px !important;
        img {

            border-radius: 30px !important;


        }
    }
}
/**
//PWA
 */

    @media (max-width: 900px) {
        .ob_video {
            iframe {
                width: 100% !important;
                height: auto !important;
                min-height: 270px !important;
            }
        }
    }
    @media (max-width: 767px) {
        .witr_section_title_inner h1, .witr_section_title_inner h3 {
            font-size: 29px !important;
            line-height: 100% !important;
        }
        .block {
            padding-right: 16px;
            padding-left: 16px;
        }

        .event-page-title_adn {
            padding-top: 20px;
        }
    }
}
