.gallery_items {

    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;

    ._gallery_item {
        max-width: 350px;
        height: auto;
        padding: 6px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #1d1f2c;
        margin: 0 42px 34px 0;

        img {
            width: 336px;
            height: 224px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

}

.big_gallery {
    .big_gallery__title {

        padding: 6px 0 20px 0;
    }

    .big_gallery__desc {

    }
}

