.gallery_items {

    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;

    ._gallery_item {
        max-width: 350px;
        height: auto;
        padding: 6px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #1d1f2c;
        margin: 0 42px 34px 0;

        img {
            width: 336px;
            height: 224px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

}

.big_gallery {
    padding-left: 15px;
    padding-right: 15px;

    .big_gallery__title {

        padding: 6px 0 20px 0;
    }

    .big_gallery__desc {

    }
}

@media  (max-width: 1200px)  {

    .gallery_items {

        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;

        ._gallery_item {
            max-width: 350px;
            height: auto;
            padding: 6px;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #1d1f2c;
            margin: 0 22px 34px 0;

            img {
                width: 336px;
                height: 224px;
            }

            &:nth-child(3n) {
                margin-right: 22px;
            }
        }

    }
}

@media  (max-width: 793px)  {

    .gallery_items {

        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;

    }
    .big_gallery__title {
        text-align: center;
    }

}

@media  (max-width: 700px)  {

    .gallery_items {


        ._gallery_item {
            max-width: 1000px;
            height: auto;
            padding: 6px;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #1d1f2c;
            margin: 0 0 24px 0;

            img {
                width: 336px;
                height: 224px;
            }

            &:nth-child(3n) {
                margin: 0 0 24px 0;
            }
        }

    }

}
